@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: "Geist", Helvetica, sans-serif;
}

@layer base {
  :root {
    --button-background: 243.2 42.1% 56.7%;
    --button-foreground: 0 0% 97%;
    --background: 0 0% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 240 7% 11%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 10% 27%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --success: 142.5 62.8% 30.6%;
    --success-foreground:  210 40% 98%;
    --border:  240 7% 11%;
    --input:  240 7% 11%;
    --ring: 222.2 84% 4.9%;
    --tags: 226 100% 94%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --severity-chart-1: 0 84.2% 60.2%;
    --severity-chart-2: 30 80% 55%;
    --severity-chart-3: 52 100% 71%;
    --severity-chart-4: 198 17% 71%;
    --radius: 0.5rem;
  }
  .dark {
    --button-background: 243.2 42.1% 56.7%;
    --button-foreground: 0 0% 97%;
    --background: 218 80% 2%;
    --foreground: 210 40% 98%;
    --card: 214 25% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 218 80% 2%;
    --popover-foreground: 210 40% 98%;
    --primary: 0, 0% 100%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 270 100% 92%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 34% 78%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 12% 27%;
    --input-background: 216 28% 7%;
    --input-border: 214 12% 27%;
    --ring: 212.7 26.8% 83.9%;
    --tags: 199 17% 71%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --severity-chart-1: 0 84.2% 60.2%;
    --severity-chart-2: 30 80% 55%;
    --severity-chart-3: 52 100% 71%;
    --severity-chart-4: 198 17% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#homepage-background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#a11y-bug-form > div {
  display: flex;
  margin-bottom: 20px;
}

#a11y-bug-form label {
  width: 25%;
  padding-right: 20px;
}

.issue-card:hover h2, .issue-card:focus h2 {
  text-decoration: underline;
}

.a11y-focus:hover {
  outline-width: 2px;
  outline-offset: 4px;
}

.a11y-focus:focus-visible, input:focus-visible, textarea:focus-visible, select:focus-visible, a:focus-visible {
  /*outline-style: dashed;
  outline-color: var(--primary);
  outline-width: 4px;
  outline-offset: 4px;*/

  outline: none;
  box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-family: sans-serif;
  font-size: 20px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l2 {to{background-size: 100% 3px}}
